{% extends "AppBundle:Default:index.html.twig" %}

{% block container %}

    <ol class="breadcrumb">
    <li><a href="{{ path("dashboard") }}">Начало</a></li>
    <li>Продажби</li>
    <li class="active">Добави продажба</li></ol>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-plus-sign"></i>	Добави дневни продажби
            </div> <!--/panel-->
            <div class="panel-body">
                <div class="success-messages"></div>
                <form class="form-horizontal" method="POST" action="php_action/createOrder.php" id="createOrderForm">

                    <div class="form-group">
                        <label for="orderDate" class="col-sm-2 control-label">Дата</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="orderDate" name="orderDate" autocomplete="off" />
                        </div>
                    </div> <!--/form-group-->
                    <table class="table" id="productTable">
                        <thead>
                        <tr>
                            <th style="width:5%;">#</th>
                            <th style="width:10%;">Артикул</th>
                            <th style="width:10%;">Цена</th>
                            <th style="width:10%;">Количество</th>
                            <th style="width:15%;">Сума</th>
                            <th style="width:10%;">Отстъпка</th>
                            <th style="width:15%;">Крайна сума: </th>
                            <th style="width:20%;">Вид плащане: </th>
                            <th style="width:10%;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set arrayNum = 0 %}
                        {% set counter = 1 %}
                        <tr id="row{{ counter }}" class="<?php echo $arrayNumber; ?>">
                            <td>{{ counter }}</td>
                            <td style="margin-left:10px;" class="col-md-4">
                                <div class="form-group">

                                    <select class="form-control" name="productName[]" id="productName{{ counter }}" onchange="getProductData({{ counter }})" >
                                        <option value="">-- ИЗБЕРИ --</option>
                                       {% for product in productData %}
                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td style="padding-left:20px;" class="col-md-2">
                                <input type="text" name="rate[]" id="rate{{ counter }}" autocomplete="off" disabled="true" class="form-control" />
                                <input type="hidden" name="rateValue[]" id="rateValue{{ counter }}" autocomplete="off" class="form-control" />
                            </td>
                            <td style="padding-left:20px;" class="col-md-1">
                                <div class="form-group">
                                    <input type="number" name="quantity[]" id="quantity{{ counter }}" onkeyup="getTotal()" autocomplete="off" class="form-control" min="1" />
                                </div>
                            </td>
                            <td style="padding-left:20px;">
                                <input type="text" name="total[]" id="total{{ counter }}" autocomplete="off" class="form-control" disabled="true" />
                                <input type="hidden" name="totalValue[]" id="totalValue{{ counter }}" autocomplete="off" class="form-control" />
                            </td>
                            <td style="padding-left:20px;">
                                    <input type="text" class="form-control" id="discount" name="discount" onkeyup="discountFunc()" autocomplete="off" />
                            </td>
                            <td style="padding-left:20px;">
                            <input type="text" class="form-control" id="grandTotal" name="grandTotal" disabled="true" />
                            <input type="hidden" class="form-control" id="grandTotalValue" name="grandTotalValue" />
                            </td>
                            <td style="padding-left:20px;">
                                <select class="form-control" name="paymentType" id="paymentType">
                                    <option value="">-- ИЗБЕРИ --</option>
                                    <option value="1">Кеш</option>
                                    <option value="2">POS</option>
                                </select>

                            </td>
                            <td>

                                <button class="btn btn-default removeProductRowBtn" type="button" id="removeProductRowBtn" onclick="removeProductRow({{ counter }})"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        {% set arrayNum = arrayNum + 1 %}
                        </tbody>
                    </table>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="totalAmount" class="col-sm-3 control-label">Тотал</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="totalAmount" name="totalAmount" disabled="true"/>
                                <input type="hidden" class="form-control" id="totalAmountValue" name="totalAmountValue" />
                            </div>
                        </div> <!--/form-group-->
                    </div> <!--/col-md-6-->
                    <div class="form-group submitButtonFooter">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" onclick="addRow()" id="addRowBtn" data-loading-text="Loading..."> <i class="glyphicon glyphicon-plus-sign"></i> Добави ред </button>

                            <button type="submit" id="createOrderBtn" data-loading-text="Loading..." class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"></i> Запази промените</button>

                            <button type="reset" class="btn btn-default" onclick="resetOrderForm()"><i class="glyphicon glyphicon-erase"></i> Изчисти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="paymentOrderModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><i class="glyphicon glyphicon-edit"></i> Редактирай плащане</h4>
                            </div>

                            <div class="modal-body form-horizontal" style="max-height:500px; overflow:auto;" >

                                <div class="paymentOrderMessages"></div>

                                <div class="form-group">
                                    <label for="clientContact" class="col-sm-3 control-label">Вид на плащането</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="paymentType" id="paymentType" >
                                            <option value="">-- ИЗБЕРИ --</option>
                                            <option value="2">Кеш</option>
                                            <option value="3">POS</option>
                                        </select>
                                    </div>
                                </div> <!--/form-group-->

                            </div> <!--/modal-body-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="glyphicon glyphicon-remove-sign"></i> Затвори</button>
                                <button type="button" class="btn btn-primary" id="updatePaymentOrderBtn" data-loading-text="Loading..."> <i class="glyphicon glyphicon-ok-sign"></i> Запази промените</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- /edit order-->

                <!-- remove order -->
                <div class="modal fade" tabindex="-1" role="dialog" id="removeOrderModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><i class="glyphicon glyphicon-trash"></i> Изтрии продажба</h4>
                            </div>
                            <div class="modal-body">

                                <div class="removeOrderMessages"></div>

                                <p>Наистина ли искате да изтриете ?</p>
                            </div>
                            <div class="modal-footer removeProductFooter">
                                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="glyphicon glyphicon-remove-sign"></i> Затоври</button>
                                <button type="button" class="btn btn-primary" id="removeOrderBtn" data-loading-text="Loading..."> <i class="glyphicon glyphicon-ok-sign"></i> Запази промените</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- /remove order-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/order.js") }}"></script>
{% endblock %}
